<h1>Week 11 - Example</h1>
<app-child [college]="college_name" [city]='city'></app-child>

<h2>Pipes Examples Code</h2>
<p>{{ 101247770 | number }}</p>
<p>{{ "Nate" | greet }}</p>
<!-- <p>{{ "Nate" | fullname:'Mr.' }}</p> -->
<p>{{ "Nate" | fullname:"Mr.":"Power" }}</p>
<p>{{ 5 | power:3 }}</p>
<p>{{ 5 | square }}</p>
<h1>*ngSwitch and *ngIf</h1>
<div [ngSwitch]="city">
    <p *ngSwitchCase="'Toronto'">Capital City of Ontario</p>
    <p *ngSwitchCase="'Edmonton'">Capital City of Alberta</p>
    <p *ngSwitchCase="'Yellowknife'">Capital City of Northwest Territories</p>
    <!--  -->
    <p *ngSwitchDefault>Not a city in Canada</p>
</div>

<div *ngIf="isDisplay">
    This is Visible
</div>

<div *ngIf="isDisplay; then trueTemplate else falseTemplate">
    This is Visible
</div>

<ng-template #trueTemplate>
    <div>Visible when true</div>
</ng-template>

<ng-template #falseTemplate>
    <div>Visible when false</div>
</ng-template>

<h1 [hidden]="isDisplay">ngStyle</h1>
<div [ngStyle]="{'color': 'blue'}">
    I am blue
</div>

<button (click)="btnClickGetUsers()">Get all users</button>
<p *ngFor="let user of userList">{{ user.name }}</p>
